body {
    background-color: gainsboro;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

    
}
h2{
    

}

#square {

    height: 20px;
    width: 120px;
    border: 2px solid black;
    margin: auto;
    
    
}

#input {

    height: 20px;
    width: 120px;
    border: 2px solid black;
    margin: auto;
    

}

