body {
    background-color: gainsboro;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

    
}
h2{
    

}

.box {

    height: 20px;
    width: 20px;
    border: 2px solid black;
    margin: auto;
    
    
}

.rows {

    height: 20px;
    width: 20px;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;


}

.columns {

    height: 20px;
    width: 20px;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;


}



