body {
    background-color: gainsboro;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

    
}
h2{
    

}

.box {

    height: 20px;
    width: 20px;
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
    
}

.row {

    height: 20px;
    width: 120px;
    margin: auto;
    margin-top: 7px;
    display: flex; 


}

.columns {

    height: 20px;
    width: 20px;
    border: 2px solid black;
    margin: auto;
    margin-top: 3px;


}



